html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: black;
  overflow: hidden;
  margin-top: 0px;
  margin-left: 0px; }

video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: .5;
  animation: videoOpac 2.3s ease-in-out forwards; }

@keyframes videoOpac {
  0% {
    opacity: 0%; }
  100% {
    opacity: .5; } }
.entryText {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center; }
  .entryText > h1 {
    color: white;
    font-size: 70px;
    font-weight: 100;
    transform: translate(0%, 50%);
    animation: aligntoright 800ms 1.8s ease-in-out forwards; }
  .entryText > h2 {
    color: tomato;
    font-size: 60px;
    font-weight: 100;
    transform: translate(0%, 50%);
    animation: aligntoright 800ms 1.8s ease-in-out forwards; }
  .entryText > h3 {
    color: lightgray;
    font-size: 40px;
    font-weight: 100;
    transform: translate(0%, 50%);
    animation: aligntoright 800ms 1.8s ease-in-out forwards; }

@keyframes aligntoright {
  0% {
    transform: translate(0%, 50%); }
  100% {
    transform: translate(20%, 50%); } }
.leftNavBar {
  position: fixed;
  left: -250px;
  top: 0px;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  animation: bringMenuFromSide 400ms 1.4s ease-in-out forwards;
  padding-top: 30px; }
  .leftNavBar > .socialLinks {
    position: absolute;
    padding-top: 15px;
    padding-left: 25px;
    width: 350px;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    left: -500px;
    background-color: rgba(0, 0, 0, 0.6);
    animation: bringSocialMenuFromSide 1.4s 1.8s ease-in-out forwards;
    top: 85%; }
    .leftNavBar > .socialLinks > button {
      border: none;
      background-color: transparent;
      transition: 200ms ease-in-out all; }
      .leftNavBar > .socialLinks > button > img {
        width: 32px;
        height: 32px; }
      .leftNavBar > .socialLinks > button:hover {
        transform: rotate(45deg); }
  .leftNavBar > .Menu {
    list-style: none;
    display: block; }
    .leftNavBar > .Menu > li {
      margin-top: 40px;
      height: 50px;
      line-height: 50px;
      transition: 200ms all ease-in-out; }
      .leftNavBar > .Menu > li > a {
        text-decoration: none;
        color: white;
        font-weight: 100;
        font-size: 25px; }
      .leftNavBar > .Menu > li:hover {
        background-color: tomato; }
        .leftNavBar > .Menu > li:hover > a {
          color: black; }
    .leftNavBar > .Menu .active {
      background-color: tomato; }
      .leftNavBar > .Menu .active > a {
        color: black; }

@keyframes bringMenuFromSide {
  0% {
    left: -250px;
    opacity: 0; }
  100% {
    left: 0px;
    opacity: 1; } }
@keyframes bringSocialMenuFromSide {
  0% {
    left: 600%; }
  100% {
    left: 0px; } }
.aboutUs {
  position: absolute;
  top: 50%;
  left: 180%;
  width: 100%;
  transform: translate(-50%, -80%);
  padding-right: 30px;
  text-align: right; }
  .aboutUs > h1 {
    color: white;
    font-size: 70px;
    font-weight: 100; }
  .aboutUs > h2 {
    color: tomato;
    font-size: 50px;
    font-weight: 100; }
  .aboutUs > .aboutmeParagraph {
    color: tomato;
    position: absolute;
    text-align: justify;
    width: 77%;
    transform: translateX(-1%);
    right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    top: 380px;
    background-color: rgba(0, 0, 0, 0.3); }
    .aboutUs > .aboutmeParagraph > p {
      font-size: 40px;
      font-weight: 100; }

.travelPics {
  position: absolute;
  top: 50%;
  left: 280%;
  width: 100%;
  transform: translate(-50%, -45%);
  padding-right: 30px;
  text-align: right; }
  .travelPics > h1 {
    color: white;
    font-size: 70px;
    font-weight: 100;
    transform: translate(-2%, 150%); }
  .travelPics > h2 {
    color: tomato;
    font-size: 50px;
    font-weight: 100;
    transform: translate(-2%, 150%); }
  .travelPics > .pictures {
    position: absolute;
    left: 14%;
    transform: translateX(0%);
    top: -30px;
    width: 50%;
    padding: 5px; }
    .travelPics > .pictures > img {
      opacity: .7;
      width: 275px;
      height: 275px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .travelPics > .pics {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 650px;
    height: 100vh;
    left: 250px;
    top: -20%; }
    .travelPics > .pics > button {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 50px;
      border: none;
      font-size: 20px;
      font-weight: 100;
      background-color: tomato;
      outline: none;
      color: white;
      border-radius: 50px;
      transition: all 250ms ease-in-out;
      overflow: hidden; }
      .travelPics > .pics > button:hover {
        color: tomato;
        border: 1px solid tomato;
        background-color: transparent; }
        .travelPics > .pics > button:hover::after {
          border: 0px solid tomato; }
      .travelPics > .pics > button:active {
        color: white;
        background-color: tomato;
        border: none; }
      .travelPics > .pics > button::after {
        content: '';
        display: block;
        color: tomato;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        border: 100px solid tomato;
        background-color: transparent;
        transition: all 250ms ease-in-out;
        z-index: -1; }

.myblog {
  position: absolute;
  top: 48%;
  left: 380%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding-right: 30px;
  text-align: right; }
  .myblog > h1 {
    color: white;
    font-size: 70px;
    font-weight: 100;
    transform: translate(-2%, 0%); }
  .myblog > h2 {
    color: tomato;
    font-size: 40px;
    font-weight: 100;
    transform: translate(-2%, 0%); }
  .myblog .blogPost {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 650px;
    height: 100vh;
    left: 250px;
    padding: 20px;
    text-align: justify;
    top: 0%; }
    .myblog .blogPost > p {
      font-size: 20px;
      font-weight: 100;
      color: white; }

.travelVideos {
  position: absolute;
  top: 50%;
  left: 480%;
  width: 100%;
  transform: translate(-50%, -45%);
  padding-right: 30px;
  text-align: right; }
  .travelVideos > h1 {
    color: white;
    font-size: 70px;
    transform: translate(-2%, 100%);
    font-weight: 100; }
  .travelVideos > h2 {
    color: tomato;
    font-size: 50px;
    transform: translate(-2%, 100%);
    font-weight: 100; }
  .travelVideos > .videos {
    position: absolute;
    left: 14%;
    transform: translate(0%, -5%);
    top: 50px;
    width: 50%;
    padding: 5px; }
    .travelVideos > .videos > img {
      opacity: .7;
      width: 275px;
      height: 275px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .travelVideos > .videoButton {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 650px;
    height: 100vh;
    left: 250px;
    top: -0.3%; }
    .travelVideos > .videoButton > button {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 50px;
      border: none;
      font-size: 20px;
      font-weight: 100;
      background-color: tomato;
      outline: none;
      color: white;
      border-radius: 50px;
      transition: all 250ms ease-in-out;
      overflow: hidden; }
      .travelVideos > .videoButton > button:hover {
        color: tomato;
        border: 1px solid tomato;
        background-color: transparent; }
        .travelVideos > .videoButton > button:hover::after {
          border: 0px solid tomato; }
      .travelVideos > .videoButton > button:active {
        color: white;
        background-color: tomato;
        border: none; }
      .travelVideos > .videoButton > button::after {
        content: '';
        display: block;
        color: tomato;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        border: 100px solid tomato;
        background-color: transparent;
        transition: all 250ms ease-in-out;
        z-index: -1; }

.foodPics {
  position: absolute;
  top: 50%;
  left: 580%;
  width: 100%;
  transform: translate(-50%, -45%);
  padding-right: 30px;
  text-align: right; }
  .foodPics > h1 {
    color: white;
    font-size: 70px;
    font-weight: 100;
    transform: translate(-2%, 150%); }
  .foodPics > h2 {
    color: tomato;
    font-size: 50px;
    font-weight: 100;
    transform: translate(-2%, 150%); }
  .foodPics > .pictures {
    position: absolute;
    left: 14%;
    transform: translateX(0%);
    top: -30px;
    width: 50%;
    padding: 5px; }
    .foodPics > .pictures > img {
      opacity: .7;
      width: 275px;
      height: 275px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .foodPics > .picButton {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 650px;
    height: 100vh;
    left: 250px;
    top: -20%; }
    .foodPics > .picButton > button {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      width: 270px;
      height: 50px;
      border: none;
      font-size: 20px;
      font-weight: 100;
      background-color: tomato;
      outline: none;
      color: white;
      border-radius: 50px;
      transition: all 250ms ease-in-out;
      overflow: hidden; }
      .foodPics > .picButton > button:hover {
        color: tomato;
        border: 1px solid tomato;
        background-color: transparent; }
        .foodPics > .picButton > button:hover::after {
          border: 0px solid tomato; }
      .foodPics > .picButton > button:active {
        color: white;
        background-color: tomato;
        border: none; }
      .foodPics > .picButton > button::after {
        content: '';
        display: block;
        color: tomato;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        border: 100px solid tomato;
        background-color: transparent;
        transition: all 250ms ease-in-out;
        z-index: -1; }

.info {
  position: fixed;
  width: 81.7%;
  left: 250px;
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3); }
  .info > h1 {
    font-size: 15px;
    float: left;
    margin-left: 10px; }
  .info > h2 {
    color: tomato;
    font-size: 15px;
    float: left;
    margin-left: 10px; }
  .info > p {
    font-size: 15px;
    float: right; }
    .info > p > a {
      text-decoration: none;
      color: tomato; }

/*# sourceMappingURL=style.css.map */
